body {
  padding: 10px;
  position: relative;
  height: 80%;
}
html {
  position: relative;
  height: 100%;
}

.data {
  font-size: 20px;
  font-weight: 10
}

path {
  stroke: green;
  fill: transparent;
}
